

.whitefont {
    color: white !important;
}


.lightblue {
    background-color: #4090e6;
}

.contnews h3 {
    text-align: center;
}

.pdn20 {
    padding: 20px;
}

.borderwhite {
    border: solid 5px white;
}

.pdtop15 {
    padding-top: 15px;
}

.mrgtop40 {
    margin-top: 40px;
}

.pdn0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}